.container{
    box-sizing: border-box;
    border: 2px solid black;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.head{
    box-sizing: border-box;
    border: 2px solid black;
    width: 100%;
    margin: 0 auto;
    background-color: tomato;
    float: left;
}

.section {
    box-sizing: border-box;
    border: 2px solid yellowgreen;
    width: 100%;
    margin: 0 auto;
    float: left;
}

.footer {
    box-sizing: border-box;
    border: 2px solid orangered;
    width: 100%;
    background-color: dodgerblue;
    margin: 0 auto;
    clear: both;
}