.parallax {
    background: url('../images//Logo.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.parallax1 {
    background: url('../images/banner2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    clear: both;
}